@if (href) {
  <a
    [attr.href]="disabled ? null : href"
    [target]="disabled ? null : target"
    [class]="classes"
    [attr.aria-disabled]="disabled ? 'true' : null"
    [attr.tabindex]="disabled ? '-1' : null"
    rel="noopener noreferrer"
  >
    @if (iconLeft) {
      <ui-icon [name]="iconLeft" [size]="resolvedIconSize" />
    }
    <ng-content />
    @if (iconRight) {
      <ui-icon [name]="iconRight" [size]="resolvedIconSize" />
    }
  </a>
} @else if (routerLink) {
  <a [routerLink]="disabled ? null : routerLink" [class]="classes" [attr.aria-disabled]="disabled ? 'true' : null">
    @if (iconLeft) {
      <ui-icon [name]="iconLeft" [size]="resolvedIconSize" />
    }
    <ng-content />
    @if (iconRight) {
      <ui-icon [name]="iconRight" [size]="resolvedIconSize" />
    }
  </a>
} @else {
  <button [type]="type" [class]="classes" [disabled]="disabled">
    @if (iconLeft) {
      <ui-icon [name]="iconLeft" [size]="resolvedIconSize" />
    }
    <ng-content />
    @if (iconRight) {
      <ui-icon [name]="iconRight" [size]="resolvedIconSize" />
    }
  </button>
}
