:host {
  align-items: center;
  block-size: 1em;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
  inline-size: 1em;
}

.icon {
  block-size: 1em;
  color: currentColor;
  display: inline-flex;
  inline-size: 1em;
  line-height: 1;
  max-height: 100%;
  max-width: 100%;
}
