.wa-float {
  --icon-btn-size: 56px;
  --icon-size: 28px;
  bottom: 1.1rem;
  position: fixed;
  right: 1.1rem;
  z-index: 120;
}

@media (max-width: 640px) {
  .wa-float {
    --icon-btn-size: 54px;
    --icon-size: 27px;
  }
}
